
.c-background {
    &--brown--perl {
        background: #FFF7EF;
    }
    &--white--transparent {
        background: rgba(255, 255, 255, 0.8);
    }
    &--light--brown {
        background: #F2EDE9;
    }
}